@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-zinc-950 text-white;
  }

  .woww-so-modern {
    --border-width: 3px;

    position: relative;

    &::before {
      content: "";
      width: calc(100% + var(--border-width) * 2);
      height: calc(100% + var(--border-width) * 2);
      background-color: #000;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      background-image: conic-gradient(
        from var(--angle),
        #fc5c7d,
        #6a82fb,
        #fc5c7d
      );
      animation: rotate 3s linear infinite;
      filter: blur(24px);
    }
  }

  @property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
  }

  @keyframes rotate {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }
}
